@CHARSET "UTF-8";

p.title {
    font-size: 25px;
    text-align: center;
}

div.errorMessages {
    color: red;
}

#footer {
/* 	position: fixed; */
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    text-align: center;
    margin-top: auto;
    position: absolute;
}
#footer a {
	color: #fff;
}

div#header-fixed {
	background-color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 140px;
	z-index:1;
}
div#header-bk {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 140px;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

div#header-bk {
	padding: 0px 0 20px;
	height: 110px;
	width:100%;
}

div#main-contents {
  margin-top: 170px;
}

div#container {
	position: relative;
	min-height: 100%;
}

div#main {
	padding-bottom: 50px;
}

textarea {
	resize: none;
}

.breadcrumb {
  padding-left:0;
  margin-left:0;
}

.breadcrumb li{
  display:inline;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
}

.breadcrumb li:after{/* >を表示*/
  content: '>';
  padding: 0 3px;
  color: #555;
}

.breadcrumb li:last-child:after{
  content: '';
}

.breadcrumb li a {
    text-decoration: none;
    color: #52b5ee;/*色*/
}

.breadcrumb li a:hover {
    text-decoration: underline;
}