@CHARSET "UTF-8";

table, td {
	border-collapse: collapse;
	border: 1px solid #ccc;
	line-height: 1.5;
	padding-left: 10px;
}

td.items {
	background: #d9d9d9;
}

div.input input {
	display: inline-block;
    margin: 0 20px;
}

input#contribution {
	width: 70px;
}