@CHARSET "UTF-8";

table, th, td {
	border-collapse: collapse;
	border: 1px solid #ccc;
	line-height: 1.5;
}
table.management th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	background: #3f3f3f;
	color: #ffffff;
}
table.management td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
}
tr:nth-child(even) {
	background: #d9d9d9;
}
.account {
	text-align:center;
}
.edit {
	text-align:center;
}