@CHARSET "UTF-8";

#nav {
	width: 100%;
	height: 30px;
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

#nav li {
	width: 150px;
	height: 50px;
	float: left;
	padding: 0;
	margin: 0;
	text-align: center;
	margin-right: 2px;
}

#nav li a {
	width: auto;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 0;
	text-decoration: none;
	display: block;
	background: #666;
}

#nav li a#logout {
	position: absolute;
	right: 0;
	bottom: 15;
}

#nav li a:hover {
	background: #555;
}