@CHARSET "UTF-8";

table, td {
	border-collapse: collapse;
	border: 1px solid #ccc;
	line-height: 1.5;
	padding-left: 10px;
}

td.items {
	background: #d9d9d9;
}

a.note {
	padding-left: 10px;
}

hr {
  height: 1px;
  background: #bbb;
  background-image: -webkit-linear-gradient(left, #eee, #777, #eee);
  background-image: -moz-linear-gradient(left, #eee, #777, #eee);
  background-image: -ms-linear-gradient(left, #eee, #777, #eee);
  background-image: -o-linear-gradient(left, #eee, #777, #eee);
}

input.signup {
	width: 70px;
	height: 25px;
	font-size: 16px;
}