@CHARSET "UTF-8";

div.text {
	word-break: break-all;
}
.box5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #d9d9d9;
    width: 250px;
}

.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0;
    padding: 0;
}

/* .contribution{ */
/* 	width: 60%; */
/*     position: relative; */
/*     background: #fff0cd; */
/*     box-shadow: 0px 0px 0px 5px #fff0cd; */
/*     border: dashed 2px white; */
/*     padding: 0.2em 0.5em; */
/*     color: #454545; */
/* } */
/* .contribution:after{ */
/*     position: absolute; */
/*     content: ''; */
/*     right: -7px; */
/*     top: -7px; */
/*     border-width: 0 15px 15px 0; */
/*     border-style: solid; */
/*     border-color: #ffdb88 #fff #ffdb88; */
/*     box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15); */
/* } */
/* .contribution p { */
/*     margin: 0; */
/*     padding: 0; */
/* } */

.contribution{
	width: 60%;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.contribution p {
    margin: 0;
    padding: 0;
}

.date {
	text-align: right;
}

.comment {
	width: 60%;
    position: relative;
    padding: 0.5em 0.7em;
    margin: 2em 0;
    background: #d9d9d9;
    color: #5d627b;
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
}
.comment:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #d9d9d9;
    width: 0;
    height: 0;
}
.comment p {
    margin: 0;
    padding: 0;
}

.category {
	font-size: 15px;
	text-align: right;
}

.contributions {
	padding-left: 20px;
}

hr#separate {
	border: 0;
	border-top: 1px solid red;
}

.retrieval {
	padding-left: 20px;
}

#subject {
	font-size: 25px;
	font-weight: bold;
}

